.header {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
}

a:hover {
    color: rgb(17, 156, 156);
}

.container {
    display: flex;
    padding: 0 5%;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.myPhoto {
    border-radius: 30px;
    width: 80%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.left {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(236, 229, 219);
}

.projectContainer {
    display: flex;
    flex-direction: column;
    /* padding: 0 5%; */
    width: 100%;
}

.projectOne {
    display: flex;
}

.projectOneLeft {
    width: 70%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
}

.projectOneRight {
    width: 30%;
    padding: 20px;
    padding-top: 50px;
}

.contanctTop {
    /* height: 450px; */
    background-color: rgb(218, 208, 198);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.contanctLeft {
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.contanctRight {
    width: 60%;
    padding-top: 20px;
    padding-left: 100px;
}

.contanctFooter {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0 45%;
}

.contanct {
    /* height: 450px; */
    background-color: rgb(218, 208, 198);
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    /* padding-top: 100px; */
}

.icon {
    width: 100%;
    border-radius: 12px;
}

.icon:hover {
    background-color: white;
}

